<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Mumma delight - Postres </title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <!-- Materialize CSS -->
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <header>
      <!-- Localizacion Actual -->
      <!-- Menu de navegacion -->
      <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">MommaLogo</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#services">Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#portfolio">Postres</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contacto</a></li>
                </ul>
            </div>
        </div>
      </nav>
    </header>
    <!-- Imagen Pagina Inicio -->
    <!-- Masthead-->
    <header class="masthead">
      <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-center text-center">
              <div class="col-lg-10 align-self-end">
                  <h1 class="text-uppercase text-white font-weight-bold">Reposteria Momma</h1>
                  <hr class="divider my-4" />
              </div>
              <div class="col-lg-8 align-self-baseline">
                  <p class="text-white-75 font-weight-light mb-5">Ofrecemos deliciosos postres, Regala un detalle que endulce el corazón, Robate los suspiros con las mejores preparaciones.</p>
                  <a class="btn waves-effect waves-light red lighten-2 js-scroll-trigger" href="#about">DAR UN VISTASO</a>
              </div>
          </div>
      </div>
  </header>
  <!-- About-->
  <section class="page-section bg-primary" id="about">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8 text-center">
                  <h2 class="text-white mt-0">Bienvenido de nuevo!</h2>
                  <hr class="divider light my-4" />
                  <p class="text-white-50 mb-4">Tenemos el postre ideal para cada paladar, se libre de escoger desde ingredientes a procesos.
                    Convencidos de ofrecer lo mejor en calidad y sabor!</p>
                  <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">CONTINUAR</a>
              </div>
          </div>
      </div>
  </section>
  <!-- Services-->
  <!--   Solicita tus pedidos   -->
  <section class="page-section" id="services">
      <div class="container">
          <h2 class="text-center mt-0">Solicita tus pedidos</h2>
          <hr class="divider my-4" />
          <div class="row">
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                      <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                      <h3 class="h4 mb-2">Dejanos conocer tu requerimiento</h3>
                      <p class="text-muted mb-0">Nuestras producciones son diarias, si necesitas organizar un evento estamos dispuestos a ...</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                      <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                      <h3 class="h4 mb-2">Definimos la manera de entrega</h3>
                      <p class="text-muted mb-0">Administramos horarios flexibles para adaptarnos a tus necesidadas, decide como y cuando lo que quieres.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                      <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                      <h3 class="h4 mb-2">Realiza el pago de tus productos</h3>
                      <p class="text-muted mb-0">Disponemos de alianzas con los medios de pago más comunes, te apoyamos con todo el tema en soporte.</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                      <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                      <h3 class="h4 mb-2">Lo hacemos con amor</h3>
                      <p class="text-muted mb-0">Competimos respaldados en las mejores materias primas, tecnicas y profesionales de la cocina.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Portfolio-->
  <nav class="nav-extended">
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#test1" title="Nivel 1"> Tortas </a></li>
        <li class="tab disabled"><a href="#test2" title="Nivel 2">  Mantecadas </a></li>
        <li class="tab disabled"><a href="#test3" title="Nivel 3"> Arroz de leche </a></li>
        <li class="tab disabled"><a href="#test4" title="Nivel 4"> Esponjado </a></li>
        <li class="tab disabled"><a href="#test5" title="Nivel 5"> Gelatina </a></li>
        <li class="search hide-on-small-only">
          <form>
              <div class="input-field search-wrapper focused">
              <input id="search" type="search" placeholder="Buscar" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
              </div>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div id="portfolio">
      <div class="container-fluid p-0">
          <div class="row no-gutters">
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="assets/img/portfolio/fullsize/Postres.jpg">
                      <img class="img-fluid" src="assets/img/portfolio/thumbnails/Postres.jpg" alt="Postres" />
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Fresco</div>
                          <div class="project-name">Elaboramos nuestros productos sobre pedido</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="assets/img/portfolio/fullsize/ChefPastelero.jpg">
                      <img class="img-fluid" src="assets/img/portfolio/thumbnails/ChefPastelero.jpg" alt="Chef Pastelero" />
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Natural</div>
                          <div class="project-name">Nuestros Productos no contienen Conservantes</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="assets/img/portfolio/fullsize/PasteleriaProductos.jpg">
                      <img class="img-fluid" src="assets/img/portfolio/thumbnails/PasteleriaProductos.jpg" alt="Pasteleria Productos" />
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Endulzantes</div>
                          <div class="project-name">Manejamos distintos tipos de endulzantes</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="assets/img/portfolio/fullsize/ConCorazon.jpeg">
                      <img class="img-fluid" src="assets/img/portfolio/thumbnails/ConCorazon.jpeg" alt="Con Corazon" />
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Personalizado</div>
                          <div class="project-name">Tu selecciona el nivel de dulce</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="assets/img/portfolio/fullsize/LecheAsada.jpeg">
                      <img class="img-fluid" src="assets/img/portfolio/thumbnails/LecheAsada.jpeg" alt="Leche Asada" />
                      <div class="portfolio-box-caption">
                          <div class="project-category text-white-50">Variado</div>
                          <div class="project-name">Usamos diferentes harinas, bajas en carbohidratos</div>
                      </div>
                  </a>
              </div>
              <div class="col-lg-4 col-sm-6">
                  <a class="portfolio-box" href="assets/img/portfolio/fullsize/MuffinFrutosRojos.jpeg">
                      <img class="img-fluid" src="assets/img/portfolio/thumbnails/MuffinFrutosRojos.jpeg" alt="Muffin Frutos Rojos" />
                      <div class="portfolio-box-caption p-3">
                          <div class="project-category text-white-50">Para todos</div>
                          <div class="project-name">Opciones para todos los paladares</div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
  <!-- Call to action-->
  <section class="page-section bg-dark text-white">
      <div class="container text-center">
          <h2 class="mb-4">Realiza tu orden con un click!</h2>
            <a class="btn waves-effect waves-light red lighten-2 js-scroll-trigger" href="http://api.whatsapp.com/send?phone=3187331820&text=Quiero realizar mi pedido!">
              RESERVAR PEDIDO </a>
      </div>
  </section>
    <main>
      <!-- Contenidos del sitio Web-->
      <div class="section white">
        <div class="mainContainer">
            <div class="row">
              <div class="col s12 m12 l8">
                <!-- Mensaje de Bienvenida -->
                <!-- Sidebar Clases Destacadas clasesDestacadas -->
                <div class="container ">
                  <!-- Listado de las Clases destacadas -->
                  <ul class="section table-of-contents collection">
                    <li class="collection-header">
                      <h4 class="center-align"> Postres destacadas </h4>
                    </li>
                    <hr>
                    <li class="collection-item avatar">
                      <img class="responsive-img circle" src="xxx.jpeg" alt="Semilla Vida">
                      <span class="title">Torta de Yogut Griego con helado</span>
                      <p> Torta de Yogut <br>
                        Griego con helado.
                      </p>
                      <a href="#!" class="secondary-content"><i class="material-icons"> grade </i></a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle"> 2 </i>
                      <span class="title">Mantecadas</span>
                      <p> Mantecadas. <br>
                      </p>
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle green"> 3 </i>
                      <span class="title"> Arroz de leche </span>
                      <p> Arroz <br>
                        de leche.
                      </p>
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle red"> 4 </i>
                      <span class="title">Esponjado de Maracuya</span>
                      <p> Esponjado de <br>
                        Maracuya.
                      </p>
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                    <li class="collection-item avatar">
                      <i class="material-icons circle red"> 5 </i>
                      <span class="title">Gelatina de colores</span>
                      <p> Gelatina de <br>
                        colores.
                      </p>
                      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div>
    </main>
    <!-- Comienza el footer -->
    <footer class="page-footer">
      <div class="section">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text"> Ayúdanos a crecer </h5>
              <p class="grey-text text-lighten-4">
                Esperamos que hayas disfrutado nuestros postres y sabores, si sientes
                que hacemos una buena labor y quieres apoyar al equipo, puedes ayudarnos
                donándonos. Cualquier cantidad ayudaría a apoyar y continuar el
                desarrollo de este proyecto y será muy apreciada.  </p>
              <a class="btn waves-effect waves-light red lighten-2" href="/support-us.html">Apoyar</a>
              <br>
              <h5 class="white-text"> Comentar contenidos </h5>
              <p class="grey-text text-lighten-4">
                Tenemos una sala de chat configurada donde puede hablar directamente
                con nosotros. Entra y discute nuevas ordenes, recetas, objetivos futuros,
                preguntas en general, o cualquier otra cosa que puedas pensar. </p>
              <a class="btn waves-effect waves-light red lighten-2" href="/#whatsappchat">Contactar</a>
            </div>
            <div id="contact" class="col l4 offset-l2 s12">
              <h5 class="white-text"> Encuentranos en redes sociales: </h5>
              <p class="grey-text text-lighten-4"> Deléitate, síguenos para más actualizaciones </p>
              <br>
              <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div><a href="http://api.whatsapp.com/send?phone=3187331820&text=Quiero realizar mi pedido!">+57 (318) 733-1820</a></div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                    <a class="d-block" href="mailto:momma.pedidos@gmail.com">momma.pedidos@gmail.com</a>
                </div>
              </div>
              <!-- Nosotros en redes sociales -->
              <ul>
                <li><i class="material-icons left">arrow_drop_down</i>
                  <a class="grey-text text-lighten-3" href="https://www.facebook.com/Postres.momma"> Facebook</a></li>
                <li><i class="material-icons left">arrow_drop_down</i>
                  <a class="grey-text text-lighten-3" href="https://www.instagram.com/Postres.momma"> Instagram</a></li>
                <li><i class="material-icons left">arrow_drop_down</i>
                  <a class="grey-text text-lighten-3" href="https://www.youtube.com/MommaRecipes"> Youtube </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer-->
    <!-- Legal Copyright -->
    <footer class="bg-light py-5">
      <div class="container">
        <div class="small text-center text-muted">
          Momma © 2020 Copyright <br />
          <a class="grey-text text-lighten-4 right"
            href="http://creativecommons.org/licenses/by-sa/4.0/" rel="license">
            <img alt="Licencia Creative Commons" style="border-width:0"
            src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
          </a>
         Esta obra está bajo una <a rel="license"
            href="http://creativecommons.org/licenses/by-sa/4.0/">
            Licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional </a>
        </div>
      </div>
    </footer>
</body>
</html>
<router-outlet></router-outlet>
